<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listeners.listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="paytmpakage.paytmproject.AppTest"/>
      <class name="resources.base"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
